<ion-header>

  <ion-navbar>
    <ion-title>Product</ion-title>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="listing-content">

  <images-layout-upload-x [maxImage]="3" (imageOutList)="setImage($event)"></images-layout-upload-x>

  <ion-list padding>
    <ion-item>
      <ion-input type="text" placeholder="Product name" [(ngModel)]="product.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Product detail" [(ngModel)]="product.desc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Product price" [(ngModel)]="product.price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="qty" [(ngModel)]="product.qty"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="margin-item">Category</ion-label>
      <ion-select [(ngModel)]="selectedCate" (ionChange)="selected()">
        <ion-option [value]="cat" *ngFor="let cat of cate.categorys" [selected]="cat._id === selectedCate._id">{{cat.name}}</ion-option>
        <!-- <ion-option value="electronic">Electronic</ion-option> -->
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label class="margin-item">Sub category</ion-label>
      <ion-select [(ngModel)]="selectedSubCate" [disabled]="!selectedCate">
        <ion-option [value]="subcat" *ngFor="let subcat of subcate.categorys">{{subcat.name}}</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button block class="auth-action-button signup-button" style="margin-top:20px" (click)="saveProduct()">{{'Save' | translate}}</button>

  </ion-list>
</ion-content>