<!-- Generated template for the HistoryComponent component -->
<!-- {{historyData}} -->
<ion-list>
  <ion-item *ngFor="let item of historyData">
    <ion-thumbnail item-start *ngFor="let image of item.img">
      <img src="{{image.url}}">
    </ion-thumbnail>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-6>
          <p><b>เลขที่ออเดอร์ {{item.ordernumber}}</b></p>
        </ion-col>
        <ion-col text-right col-6>
          <p>{{item.day}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p>{{item.productname}}</p>
    <p>Qty : {{item.unit}} </p>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-6>
          <p><b>{{item.unitprice}} Baht</b></p>
        </ion-col>
        <ion-col text-right col-6>
          <div text-right *ngIf="item.status === 'paid'">
            <p style="color:lime">Paid</p>
          </div>
          <div text-right *ngIf="item.status === 'unpay'">
            <p style="color:red">Unpay</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
<ion-footer>
  <ion-grid>
    <ion-row *ngIf="historyData && historyData[0].status === 'paid'">
      <ion-col col-6>
          Paid total
      </ion-col>
      <ion-col text-right col-6>
        {{amount}} Baht
      </ion-col>
    </ion-row>
    <ion-row *ngIf="historyData && historyData[0].status === 'unpay'">
      <ion-col col-6>
          Unpay total
      </ion-col>
      <ion-col text-right col-6>
        {{amount}} Baht
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-toolbar text-right>
      <ion-title>รวม  {{amount}} บาท</ion-title>
    </ion-toolbar> -->
</ion-footer>
